.wrapper {
    background: rgb(0, 0, 30);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.logoContainer {
    height: 471px;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    text-align: center;
}

.logo {
    height: 100%;
    max-width: 80vw;
}

@media screen and (max-width: 550px) {
    .logoContainer {
        height: 371px;
        padding-top: 25px;
        padding-bottom: 25px;
    }
}
