.wrapper {
	background: rgb(0, 0, 30);
	color: white;
	padding-left: 10px;
	padding-right: 10px;
}

.logo {
	margin-top: 50px;
	margin-bottom: 50px;
	max-width: 80vw;
	width: 475px;
}

@media screen and (max-width: 550px) {
	.logo {
		margin-top: 25px;
		margin-bottom: 25px;
	}
}
